body,
html {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: beige;
  
}

.firstPage {
  background-color: gray;
  width: 950px;
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}


.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}


.right-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 700px;
  /* background-color: orange; */

}

.picture {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  height: 70%;
  margin-left: -100px;
  margin-top: -100px;
  /* object-fit: cover;ru */
}


.imageMe {
  /* background-color: brown; */
  /* opacity: 50%; */
}


.hello {
  /* background-color: aqua; */
  font-size: 25px;
  font-family: Inter;
  font-weight: thin;
  align-self: flex-start;
}

.me {
  /* width: 700px; */
  font-size: 32px;
  font-family: Inter;
  font-weight: mixed;
  align-self: flex-start;
}

span {
  white-space: nowrap;
  font-size: 40px;
  font-family: Inter;
  font-weight: bold;
}

.role {
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
}

.aspiring {

  align-self: flex-end;
  font-size: 25px;
  font-family: Inter;
  font-weight: medium;
}

.developer {
  align-self: flex-start;
  font-size: 32px;
  font-family: Inter;
  font-weight: light;
}




@media screen and (max-width: 480px) {

  /* .container {
    width: 100%;
  } */
  /* Styles specific to mobile screens */
  .firstPage {
    align-self: flex-start;
    /* width: 100px; */
    padding-top: 25px;
    /* background-color: red; */
    overflow: hidden;
  }

  .right-container {
    width: 480px;
  }

  /* .hello {
    font-size: 10px;

  }

  .me,
  .developer {
    font-size: 10px;
  }

  span {
    font-size: 15px;
  } */

}



.arrow {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  /* Adjust thickness and size as needed */
  border-color: #000 transparent transparent transparent;
}

.arrow::before {
  content: '';
  position: absolute;
  top: -20px;
  /* Adjust based on border-width */
  left: -20px;
  /* Adjust based on border-width */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  /* Adjust thickness and size as needed */
  border-color: #ee0808 transparent transparent transparent;
}

.arrow::after {
  content: '';
  position: absolute;
  bottom: -10px;
  /* Adjust based on border-width */
  left: -20px;
  /* Adjust based on border-width */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 0 20px;
  /* Adjust thickness and size as needed */
  border-color: transparent transparent #000 transparent;
}

.next-page {
  background-color: black;
  margin-left: auto;
  margin-right: 100px;
  width: 2px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.first-dot,
.second-dot,
.third-dot,
.fourth-dot {
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
}