body,
html {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
}

.container {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  background-color: beige;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*cross axis- row -> y direction/vertical, column ->x direction/horizontal*/

  /*y direction  - horizontal*/
  /* justify-content: flex-start;  */
  width: 50%;
  height: 100%;
  padding-left: 150px;
  background-color: pink;
}

.hello {
  /* background-color: aqua; */
  font-size: 64px;
  font-family: Inter;
  font-weight: thin;
}

.me {
  font-size: 64px;
  font-family: Inter;
  font-weight: mixed;
}

span {
  font-size: 64px;
  font-family: Inter;
  font-weight: bold;
}

.role {
  /* background-color: azure; */
  display: flex;
  flex-direction: column;
}

.aspiring {
  align-self: flex-end;
  font-size: 35px;
  font-family: Inter;
  font-weight: medium;
}

.developer {
  align-self: flex-start;
  font-size: 64px;
  font-family: Inter;
  font-weight: light;
}

@media (max-width: 1200px) , (max-height: 800px)
{
  .hello,
  .me,
  span,
  .developer {
    /* background-color: green; */
    font-size: 50px;
  }

  .aspiring {
    /* background-color: blue; */
    font-size: 30px;
  }
}

@media (max-width: 1000px) , (max-height: 600px) {

  .hello,
  .me,
  span,
  .developer {
    /* background-color: green; */
    font-size: 40px;
  }

  .aspiring {
    /* background-color: blue; */
    font-size: 20px;
  }
}

@media (max-width: 800px) , (max-height: 500px) {

  .hello,
  .me,
  span,
  .developer {
    /* background-color: green; */
    font-size: 30px;
  }

  .aspiring {
    /* background-color: blue; */
    font-size: 15px;
  }
}

@media (max-width: 600px) , (max-height: 400px) {

  .hello,
  .me,
  span,
  .developer {
    /* background-color: green; */
    font-size: 20px;
  }

  .aspiring {
    /* background-color: blue; */
    font-size: 12px;
  }
}

@media (max-width: 400px) , (max-height: 300px) {

  .hello,
  .me,
  span,
  .developer {
    /* background-color: green; */
    font-size: 15px;
  }

  .aspiring {
    /* background-color: blue; */
    font-size: 10px;
  }
}

@media (width <=500px) , (height <=500px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

.right-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: orange;

}

.picture {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 70%;
  height: 70%;
  margin-left: 0px;
  margin-top: -100px;
}


.imageMe{
  /* background-color: brown; */
  opacity: 50%;
}

@media (max-width: 1500px) , (max-height: 1500px){
  .picture {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 1300px) , (max-height: 1300px) {
  .picture {
    width: 70%;
    height: 70%;
  }
}

@media (max-width: 1000px) , (max-height: 1000px) {
  .picture {
    width: 60%;
    height: 60%;
  }
}

@media (max-width: 800px) , (max-height: 800px) {
  .picture {
    width: 55%;
    height: 55%;
  }
}

@media (max-width: 600px) , (max-height: 600px) {
  .picture {
    width: 40%;
    height: 40%;
  }
}

@media (width <=400px) , (height <=400px) {
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
} 

.arrow {
  position: relative;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  /* Adjust thickness and size as needed */
  border-color: #000 transparent transparent transparent;
}

.arrow::before {
  content: '';
  position: absolute;
  top: -20px;
  /* Adjust based on border-width */
  left: -20px;
  /* Adjust based on border-width */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 20px 0 20px;
  /* Adjust thickness and size as needed */
  border-color: #ee0808 transparent transparent transparent;
}

.arrow::after {
  content: '';
  position: absolute;
  bottom: -10px;
  /* Adjust based on border-width */
  left: -20px;
  /* Adjust based on border-width */
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 0 20px;
  /* Adjust thickness and size as needed */
  border-color: transparent transparent #000 transparent;
}

.next-page {
  background-color: black;
  margin-left: auto;
  margin-right: 100px;
  width: 2px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.first-dot, .second-dot, .third-dot, .fourth-dot {
  background-color: grey;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid grey;
}
